<h1><%= @video.id ? 'Edit Video' : 'Create Video' %></h1>

<h3> <%= "To add a video, go to any video site and grab an embed code to input in the trailer field" %> </h2>

<div class="ui form">
  <%= form_for @video do |f| %>
  <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title, required: true, autofocus: true %>
  </div>

  <div class="field">
  <%= f.label :duration %>
  <%= f.text_field :duration, required: true, autofocus: true %>
  </div>

  <div class="field">
  <%= f.label :genre %>
  <%= f.text_field :genre, required: true, autofocus: true %>
  </div>

  <div class="field">
  <%= f.label :description %>
  <%= f.text_area :title, required: true, autofocus: true %>
  </div>

  <div class="field">
  <%= f.label :trailer %>
  <%= f.text_field :trailer, required: true, autofocus: true %>

  <%= f.label :playlist_id %>
  <%= f.select :playlist_id, [['Playlist 1', 1], ['Playlist 2', 2]] %>

  <%= f.submit %>
  <%= link_to 'Back To Videos', videos_path %>
</div>
<% end %>

