
<h1> videos </h1>
<p><%= link_to 'New video', new_video_path %></p>
<% @videos.each do |video| %>
<p>
  <%= video.title %>
  <%= link_to 'Show video', video_path(video) %>
  <%= link_to 'Edit video', edit_video_path(video) %>
  <%= link_to 'Destroy video', video, method: :delete %>
  </p>
<% end %>