</br>
<div class="ui list">
  <div class="item">
    <h1> <%= @video.title %> </h1>
    <hr />
    </div>

    <iframe src="<%=@video.trailer%>" width=50% height=350px></iframe> 
    <div class="item">
    <%= @video.duration%>
        </div>
    <div class="item">
    <%= @video.genre%>
        </div>
    <div class="item">
    <%= link_to "#{@video.description}", @video.description %>
        </div>
    <div class="item">
    <br />
<br />

  <%= link_to 'Back To Videos', videos_path %>
  <p class="add"><%= link_to 'Add Comment', new_video_comment_path(@video) %></p>
<% @users.each do |comment| %>
 
  <%= render 'comments/comment', { comment: comment } %>
 -  <%= comment.first_name %>
    <%= link_to 'Delete Comment', video_comment_path(@video, comment), method: :delete %>
    <%= link_to 'Edit Comment', edit_video_comment_path(@video, comment) %>
      </div>
  </div>


  
<% end %>


