<div>
</br>
<div class="ui list">
  <div class="item">
    <h1> <%= @video.title %> </h1>
    <hr />
    <iframe src="<%=@video.trailer%>" width=50% height=50%></iframe> 
    <div class="item">
    <%= @video.duration%>
    <div class="item">
    <%= @video.genre%>
    <div class="item">
    <%= link_to "#{@video.description}", @video.description %>
    <div class="item">
    <br />
<br />
  <%= link_to 'Back To Videos', videos_path %>
<% @video.comments.each do |comment| %>
  <%= render 'comments/comment', { comment: comment } %>

  
<% end %>


