<div>
</br>
    <%= @video.title %>
    <%= @video.duration%>
    <%= @video.genre%>
    <%= @video.description %>
    <%= @video.duration%>
    <%= @video.trailer%>
</div>
</br>
<%= link_to 'Back To Videos', videos_path %>