<div>
</br>
<div class="ui list">
  <div class="item">
    <strong><%=@video.title%></strong>
    <div class="item">
    <%= @video.duration%>
    <div class="item">
    <%= @video.genre%>
    <div class="item">
    <%= @video.description %>
    <div class="item">
    <%= @video.duration%>
</div>
</br>
<%= link_to 'Back To Videos', videos_path %>
<h1> <%= @video.title %> </h1>
<iframe src="<%=@video.trailer%>" width=50% height=50%></iframe> 
