<div class="ui three item menu flex bar">
  <%= link_to  "Home", root_path %>
  <%= link_to 'View all videos', videos_path %>
  <% if user_signed_in? %>
    <%= link_to 'Your Playlists', user_playlists_path(current_user) %>
    <%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= button_to 'Log In', new_user_session_path %>
  <% end %>
</div>

